body {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 80vh;
}
.welcome {
  margin-top: 2%;
  font-family: 'Source Sans Pro', sans-serif;
}
.welcomestatement {
  font-family: 'Montserrat', sans-serif;
}
.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
wake me up when september ends
*/

@media (max-width: 480px) {
    
    body {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 80vh;
}
.welcome {
  margin-top: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 9.5vw;
}
.welcomestatement {
  font-family: 'Montserrat', sans-serif;
  font-size: 6.5vw;
}
.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
    
}